.main{
    height: 120vh;
    width: 1000px;
}
.a{
    display: flex;
}
.head{
    background-color: rgb(211,211,211);
    text-align: center;
    width: 1000px;
    padding: 12px;
    margin: 10px;
}
.h1{
    font-family: "Roboto";
    color: rgb(14,39,66);
}
.row{
    height: 25vh;
    display: flex;
}
.c1{
    width: 250px; 
}
.r1c1r1{
    background-color: rgb(179,28,124);
    height: 15vh; 
}
.r1c1r2c1{
    background-color: rgb(227,187,213);
    height: 15vh;
    width: 125px; 
}
.r1c1r2c2{
    background-color: rgb(137,41,104);
    height: 15vh;
    width: 125px; 
}
.r1c2r1{
    background-color: rgb(194,207,14);
    height: 10vh;
    width: 250px;
}
.r1c2r2c1{
    background-color: rgb(167,167,35);
    height: 10vh;
    width: calc(250px/3);
}
.r1c2r2c2{
    background-color: rgb(255,255,255);
    width: calc(250px/3);
    height: 10vh;
}
.r1c2r2c3{
    background-color: rgb(167,167,35);
    width: calc(250px/3);
    height: 10vh;
}
.r1c2r3{
    background-color: rgb(194,207,14);
    height: 10vh;
    width: 250px;
}
.r1c3r1c1{
    background-color: rgb(120,120,188);
    width: 125px;
    height: 15vh;
}
.r1c3r1c2{
    background-color: rgb(36,120,183);
    width: 125px;
    height: 15vh;
}
.r1c3r2{
    background-color: rgb(68,166,241);
    height: 15vh;
    width: 250px;
}
.r1c4r1{
    background-color: rgb(204,37,203);
    height: 10vh;
    width: 250px;
}
.r1c4r2{
    background-color: rgb(137,16,137);
    height: 10vh;
    width: 250px;
}
.r1c4r3{
    background-color: rgb(204,37,203);
    height: 10vh;
    width: 250px;
}
.r2c1r1{
    background-color: rgb(139,23,192);
    height: 15vh;
    width: calc(1000px/3);
}
.r2c1r2c1{
    background-color: rgb(39,5,56);
    height: 15vh;
    width: calc(1000px/6);
}
.r2c1r2c2r1{
    background-color: rgb(207,147,235);
    height: calc(15vh/2);
    width: calc(1000px/6);
}
.r2c1r2c2r2{
    background-color: rgb(102,5,134);
    height: calc(15vh/2);
    width: calc(1000px/6);
}
.r2c2r1{
    background-color: rgb(5,113,123);
    height: 10vh;
    width: calc(1000px/3);
}
.r2c2r2c1{
    background-color: rgb(47,149,164);
    height: 10vh;
    width: calc(1000px/9);
}
.r2c2r2c2{
    background-color: rgb(255,255,255);
    height: 10vh;
    width: calc(1000px/9);
}
.r2c2r2c3{
    background-color: rgb(47,149,164);
    height: 10vh;
    width: calc(1000px/9);
}
.r2c2r3{
    background-color: rgb(5,113,123);
    height: 10vh;
    width: calc(1000px/3);
}
.r2c3r1c1{
    background-color: rgb(182,225,239);
    height: 15vh;
    width: calc(1000px/6);
}
.r2c3r1c2{
    background-color: rgb(24,147,190);
    height: 15vh;
    width: calc(1000px/6);
}
.r2c3r2c1{
    background-color: rgb(129,207,237);
    height: 15vh;
    width: calc(1000px/9);
}
.r2c3r2c2{
    background-color: rgb(66,179,221);
    height: 15vh;
    width: calc(1000px/9);
}
.r2c3r2c3{
    background-color: rgb(179,225,241);
    height: 15vh;
    width: calc(1000px/9);
}
.r3c1{
    background-color: rgb(179,28,125);
    height: 30vh;
    width: 250px;
}
.r3c2{
    background-color: rgb(255,255,255);
    height: 30vh;
    width: 250px;
}
.r3c3{
    background-color: rgb(133,148,203);
    height: 30vh;
    width: 250px;
}
.r3c4{
    background-color: rgb(179,28,125);
    height: 30vh;
    width: 250px;
}
.r4c1{
    background-color: rgb(182,191,24);
    height: 30vh;
    width: calc(1000px/3);
}
.r4c2{
    background-color: rgb(78,78,1);
    height: 30vh;
    width: calc(1000px/3);
}
.r4c3{
    background-color: rgb(181,190,23);
    height: 30vh;
    width: calc(1000px/3);
}
